.tbodyWrapper {
    display: flex;
    align-items: center;
    color: #000;
    height: 84px;
    line-height: 84px;
}
.tbodyWrapper .tbodyItem {
    flex: 1;
    padding: 0 24px;
    font-weight: 350;
    font-size: 20px;
    line-height: 35px;
    letter-spacing: 0.001em;
    font-style: normal;
}