/*主题色定义请以 singtel 开头保持统一, 避免样式覆盖
紫色风格主题 purple经过原生btoa方法加密 cHVycGxl */
:root, [singtel-table-theme="cHVycGxl"]  {
  --singtel-radio-checked: #5C50BB;
  --singtel-table-hover: #EFEDFD;
  --singtel-checkbox-checked: #5C50BB;
}
/* 粉红主题 pink经过原生btoa方法加密 cGluaw== */
[singtel-table-theme="cGluaw=="] {
  --singtel-radio-checked: pink;
  --singtel-table-hover: pink;
  --singtel-checkbox-checked: pink;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: 'Avenir';
  src: url('/font/Avenir_35.otf');
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: Avenir;
}
body {
  padding-top: 20px;
  background: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
