.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.title {
  color: #000;
  font-size: 30px;
  margin-bottom: 20px;
}

.tableFilter {
  margin-bottom: 20px;
  color: #000;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.tableFilterItem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.tableType {
  width: auto;
  padding: 8px 4px;
  background-color: rgb(242,243,245);
}
.typeText {
  margin-right: 10px;
  margin-left: 10px;
}
.tableType span {
  padding: 5px 10px;
  cursor: pointer;
}
.tableType .normal {
  background-color: rgb(242,243,245);
}
.tableType .checked {
  color: #5C50BB;
  font-weight: bolder;
  background-color: #fff;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .tableFilter {
    width: calc(100% - 10px);
    margin-bottom: 10px;
    font-size: 12px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: wrap;
  }
  .tableFilterItem {
    margin-bottom: 15px;
  }
  .tableType {
    background-color: rgb(242,243,245);
  }
  .typeText {
    margin-right: 10px;
    margin-left: 10px;
  }
  .tableType span {
    padding: 4px 8px;
    cursor: pointer;
  }
  .tableType .normal {
    background-color: rgb(242,243,245);
  }
  .tableType .checked {
    color: #5C50BB;
    font-weight: bolder;
    background-color: #fff;
  }
}
